@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 90px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 3px 3px 15px 1px #dddddd;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 19px 0;
}

.nav_items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_items a {
  color: var(--Secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s;
}

.nav_items li a:hover {
  color: var(--Black, #0b0706);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav_items li:last-child a {
  border-radius: 4px;
  background: var(--Primary-text, #1d2130);
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 32px;
}

.menu {
  display: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* MAIN MADE BY TEMUR */

.main-line {
  display: flex;
}

.first-line {
  padding-top: 100px;
  padding-left: 108px;
}

.line-text {
  padding-left: 24px;
  padding-top: 105.5px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-info h1 {
  padding-top: 32px;
  padding-left: 214px;
  padding-right: 364px;
  color: var(--Primary-text, #1d2130);

  /* H1 */
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}

.main-info p:first-child {
  padding-top: 32px;
  padding-right: 364px;
  padding-left: 214px;
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main-info p:nth-child(2) {
  padding-top: 24px;
  padding-right: 364px;
  padding-left: 214px;
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main-info p:nth-child(3) {
  padding-top: 24px;
  padding-right: 364px;
  padding-left: 214px;
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main-info img {
  padding-top: 32px;
  padding-left: 214px;
  padding-right: 364px;
  border-radius: 12px;
}

.main-info h2 {
  padding-top: 48px;
  padding-left: 334px;
  color: var(--Primary-text, #1d2130);

  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.main-info .paragraph_second {
  padding-top: 16px;
  padding-left: 214px;
  padding-right: 364px;
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

ul {
  padding-left: 214px;
  padding-right: 364px;
}

.main-info ul li:first-child {
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
  padding-top: 16px;
  margin-left: 25px;
}

.main-info ul li:nth-child(2) {
  margin-left: 25px;
  padding-top: 10px;
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

.main-info ul li:nth-child(3) {
  margin-left: 25px;
  padding-top: 10px;
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

.main-info .paragraph_third {
  padding-top: 16px;
  padding-left: 214px;
  padding-right: 364px;
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

@media only screen and (max-width: 1000px) {
  .main-info h1 {
    padding-top: 32px;
    padding-left: 150px;
    padding-right: 164px;
    font-size: 48px;
  }
  .main-info p:first-child {
    padding-top: 32px;
    padding-right: 164px;
    padding-left: 150px;
  }

  .main-info p:nth-child(2) {
    padding-top: 24px;
    padding-right: 164px;
    padding-left: 150px;
  }

  .main-info p:nth-child(3) {
    padding-top: 24px;
    padding-right: 164px;
    padding-left: 150px;
  }

  .main-info img {
    padding-top: 32px;
    padding-left: 60px;
    padding-right: 164px;
  }

  .main-info h2 {
    padding-top: 48px;
    font-size: 32px;
  }

  .main-info .paragraph_second {
    padding-top: 16px;
    padding-left: 150px;
    padding-right: 164px;
  }

  .main-info ul {
    padding-left: 150px;
    padding-right: 164px;
  }

  .main-info ul li:nth-child(2) {
    margin-left: 25px;
    padding-top: 10px;
  }

  .main-info ul li:nth-child(3) {
    margin-left: 25px;
    padding-top: 10px;
  }

  .main-info .paragraph_third {
    padding-top: 16px;
    padding-left: 150px;
    padding-right: 164px;
  }
}

@media only screen and (max-width: 770px) {
  .main-info h1 {
    padding-top: 32px;
    padding-left: 100px;
    padding-right: 120px;
    font-size: 48px;
  }
  .main-info p:first-child {
    padding-top: 32px;
    padding-left: 100px;
    padding-right: 120px;
  }

  .main-info p:nth-child(2) {
    padding-top: 24px;
    padding-left: 100px;
    padding-right: 120px;
  }

  .main-info p:nth-child(3) {
    padding-top: 24px;
    padding-left: 100px;
    padding-right: 120px;
  }

  .main-info img {
    padding-top: 32px;
    padding-left: 80px;
    padding-right: 520px;
  }

  .main-info h2 {
    padding-top: 48px;
    font-size: 32px;
    margin-left: -200px;
  }

  .main-info .paragraph_second {
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 120px;
  }

  .main-info ul {
    padding-left: 100px;
    padding-right: 120px;
  }

  .main-info ul li:nth-child(2) {
    margin-left: 25px;
    padding-top: 10px;
  }

  .main-info ul li:nth-child(3) {
    margin-left: 25px;
    padding-top: 10px;
  }

  .main-info .paragraph_third {
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 120px;
  }
}

@media only screen and (max-width: 578px) {
  .main-info h1 {
    padding-top: 32px;
    font-size: 32px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .main-info p:first-child {
    padding-top: 24px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .main-info p:nth-child(2) {
    padding-top: 16px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .main-info p:nth-child(3) {
    padding-top: 16px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .main-info img {
    padding-top: 24px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .main-info h2 {
    font-size: 24px;
    margin-left: -240px;
  }

  .main-info .paragraph_second {
    padding-top: 16px;
    margin-left: -10px;
    margin-right: -10px;
  }

  ul {
  }

  .main-info ul li:nth-child(2) {
  }

  .main-info ul li:nth-child(3) {
  }

  .main-info .paragraph_third {
  }
}

.main-middle {
  /* width: 1500px; */
  height: 436px;
  flex-shrink: 0;
  margin-top: 96px;
  background: var(--Off-white, #ebf0f9);
}

.mid-parts {
  display: flex;
  /* flex-wrap: wrap; */
}
.mid-part1 {
  display: flex;
}

.mid-part1 img {
  margin-top: 36px;
  margin-left: 238px;
}

.midpart1-text p:nth-child(1) {
  padding-left: 20px;
  padding-top: 96px;
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
}

.midpart1-text p:nth-child(2) {
  padding-left: 20px;
  padding-top: 8px;
  /* padding-right: 674px; */
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.mid-part2 {
  display: flex;
}

.mid-part2 img {
  margin-top: 36px;
  margin-left: 96px;
}

.midpart2-text p:nth-child(1) {
  padding-left: 20px;
  padding-top: 96px;
  color: var(--Primary-text, #1d2130);
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
}

.midpart2-text p:nth-child(2) {
  padding-left: 20px;
  padding-top: 8px;
  margin-right: 100px;
  /* padding-right: 674px; */
  color: var(--Secondary-text, #525560);

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

@media only screen and (max-width: 1000px) {
  .main-middle {
    /* width: 1500px; */
    height: 872px;
    flex-shrink: 0;
    margin-top: 96px;
    background: var(--Off-white, #ebf0f9);
  }

  .mid-parts {
    display: block;
    /* flex-wrap: wrap; */
  }

  .mid-part1 img {
    margin-top: 36px;
    margin-left: 100px;
  }

  .midpart1-text p:nth-child(1) {
    padding-left: 20px;
    padding-top: 96px;
    font-size: 24px;
  }

  .midpart1-text p:nth-child(2) {
    padding-left: 20px;
    padding-top: 8px;
  }

  .mid-part2 {
    display: flex;
  }

  .mid-part2 img {
    margin-top: 36px;
    margin-left: 100px;
  }

  .midpart2-text p:nth-child(1) {
    padding-left: 20px;
    padding-top: 96px;
    font-size: 24px;
  }

  .midpart2-text p:nth-child(2) {
    padding-left: 20px;
    padding-top: 8px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 770px) {
  .main-middle {
    /* width: 1500px; */
    height: 972px;
    flex-shrink: 0;
    margin-top: 96px;
    background: var(--Off-white, #ebf0f9);
  }

  .mid-parts {
    display: block;
    /* flex-wrap: wrap; */
  }

  .mid-part1 img {
    margin-top: 24px;
    margin-left: 50px;
  }

  .midpart1-text p:nth-child(1) {
    padding-left: 100px;
    padding-top: 96px;
    font-size: 18px;
  }

  .midpart1-text p:nth-child(2) {
    padding-left: 100px;
    padding-top: 8px;
  }

  .mid-part2 {
    display: flex;
  }

  .mid-part2 img {
    margin-top: 24px;
    margin-left: 50px;
  }

  .midpart2-text p:nth-child(1) {
    padding-left: 100px;
    padding-top: 96px;
    font-size: 18px;
  }

  .midpart2-text p:nth-child(2) {
    padding-left: 100px;
    padding-top: 8px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 770px) {
  main .main-cards {
    flex-direction: column;
    gap: 15px;
    margin-left: 110px;
  }
}

.mid-part3 {
  display: flex;
}

.mid-part3 img {
  margin-top: 24px;
  margin-left: 50px;
}

.mid-part4 {
  display: flex;
}

.mid-part4 img {
  margin-top: 24px;
  margin-left: 50px;
}

.main-cards {
  display: flex;
  gap: 15px;
  margin-left: 110px;
}

.main-card1 {
  width: 411px;
  height: 421px;
  margin-top: 96px;
  background: url("../images/forest.svg");
  border-radius: 12px;
  /* opacity: 0.5; */
}

.main-card1 p:first-child {
  padding-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;

  /* H3 */
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.main-card1 p:nth-child(2) {
  padding-top: 16px;
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main-card1 button {
  margin-top: 64px;
  margin-left: 48px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  border: none;

  /* text */
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-card2 {
  width: 411px;
  height: 421px;
  margin-top: 96px;
  background: url("../images/city.svg");
  border-radius: 12px;
  /* opacity: 0.5; */
}

.main-card2 p:first-child {
  padding-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;

  /* H3 */
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.main-card2 p:nth-child(2) {
  padding-top: 16px;
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main-card2 button {
  margin-top: 64px;
  margin-left: 48px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  border: none;

  /* text */
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-card3 {
  width: 411px;
  height: 421px;
  margin-top: 96px;
  background: url("../images/steppe.svg");
  border-radius: 12px;
  /* opacity: 0.5; */
}

.main-card3 p:first-child {
  padding-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;

  /* H3 */
  font-family: "Roboto";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.main-card3 p:nth-child(2) {
  padding-top: 16px;
  padding-left: 48px;
  padding-right: 48px;
  color: #fff;

  /* Paragraph */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.main-card3 button {
  margin-top: 64px;
  margin-left: 48px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  border: none;

  /* text */
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.large-card {
  width: 1280px;
  height: 384px;
  background: url("../images/air\ blowers.svg");
  margin-top: 96px;
  margin-left: 110px;
  border-radius: 12px;
  /* opacity: 0.5; */
}

.large-card p {
  padding-top: 93px;
  padding-left: 325px;
  padding-right: 324px;
  color: #fff;
  text-align: center;

  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.buttons {
  display: flex;
}

.large-card button:first-child {
  margin-top: 32px;
  margin-left: 466px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.large-card button:nth-child(2) {
  margin-top: 32px;
  margin-left: 32px;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

main button:hover {
  transition: 0.4s;
  background: var(--Green-primary, #70c174);
  color: #fff;
  cursor: pointer;
}

.buttons button:hover {
  transition: 0.4s;
  background: var(--Green-primary, #70c174);
  color: #fff;
  cursor: pointer;
}

/* MEDIA MADE BY MUHAMMADAMIN */
@media only screen and (max-width: 888px) {
  .nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: calc(80vh - 50px);
    background: #fff;
    opacity: 0.7;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  .menu {
    display: block;
  }

  .open .nav_items {
    left: 0;
  }

  .open {
    box-shadow: none;
  }
}

/* FOOTER MADE BY MUHAMMADAMIN */

footer {
  background: var(--Black, #0b0706);
}

.foot_cards {
  display: flex;
  justify-content: space-between;
  gap: 98px;
  padding: 96px 0;
}

.foot_card h6 {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

.foot_card li + li {
  padding-top: 24px;
}

.foot_card a {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  transition: 0.5s;
}

.foot_card a:hover {
  color: #edd660;
}

.foot_card_content h6 {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  padding-bottom: 32px;
}

.foot_form {
  display: flex;
  align-items: center;
  position: relative;
}

#email {
  outline: none;
  padding: 22px 356px 23px 24px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(235, 240, 249, 0.3);
}

.foot_form button {
  border-radius: 4px;
  background: #fff;
  backdrop-filter: blur(40px);
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 22px 32px;
  border: none;
  position: absolute;
  right: 0px;
  cursor: pointer;
  transition: 0.5s;
}

.foot_form button:hover {
  background-color: #e5e5e5;
  color: #1c202f;
}

@media only screen and (max-width: 1277px) {
  .foot_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 616px) {
  #email {
    padding: 22px 300px 23px 24px;
  }
}

@media only screen and (max-width: 515px) {
  #email {
    padding: 22px 250px 23px 24px;
  }
}

@media only screen and (max-width: 454px) {
  #email {
    padding: 22px 200px 23px 24px;
  }
}

@media only screen and (max-width: 404px) {
  #email {
    padding: 22px 150px 23px 24px;
  }
}
