@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 90px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 3px 3px 15px 1px #dddddd;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;
}

.nav_items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_items a {
  color: var(--Secondary-text, #525560);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.5s;
}

.nav_items li a:hover {
  color: var(--Black, #0b0706);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav_items li:last-child a {
  border-radius: 4px;
  background: var(--Primary-text, #1d2130);
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 32px;
}

.menu {
  display: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 888px) {
  .nav_items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: calc(80vh - 50px);
    background: #fff;
    opacity: 0.7;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  .menu {
    display: block;
  }

  .open .nav_items {
    left: 0;
  }

  .open {
    box-shadow: none;
  }
}
